name: Build

on:
  workflow_dispatch:
  workflow_call:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'

      - name: Install node modules
        run: npm ci

      - name: Build
        run: npm run build

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: module
          path: |
            module.zip
            dist/module.json
